connexion[swagger-ui]
Flask[async]
flask-socketio
simple-websocket
flask-cors
alpha_vantage
pytankerkoenig
pytest
pytest-cov
pytest-mock
pytest-func-cov
apscheduler
kink
geopy
jokeapi
sendgrid
spotipy